/* Write your CSS here */

.destination-item {
  list-style-type: none;
  width: 200px;
  margin: 0 15px 32px 15px;
}

.destination-image {
  width: 200px;
}

.destination-name {
  color: #0f172a;
  font-family: 'Open Sans';
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .destination-name {
    font-size: 12px;
  }
}
